<section class="accessibility-toolbar new-style" aria-label="Barra de Acessibilidade">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between flex-wrap">

      <div class="d-flex align-items-center">
        <span class="accessibility-text me-3"><i class="bi bi-universal-access me-2"></i>ACESSIBILIDADE</span>
        <div class="accessibility-controls">
          <button id="font-decrease" class="accessibility-button icon-button" aria-label="Diminuir tamanho da fonte">A-</button>
          <button id="font-increase" class="accessibility-button icon-button" aria-label="Aumentar tamanho da fonte">A+</button>
          <button id="font-reset" class="accessibility-button icon-button" aria-label="Restaurar tamanho da fonte">A</button>
          <button id="contrast-toggle" class="accessibility-button icon-button" aria-label="Alternar alto contraste">
            <span class="contrast-icon"></span>
          </button>
        </div>
      </div>

      <div class="other-links d-none d-lg-flex align-items-center">
        <a href="#" class="accessibility-link mx-3">PORTAL DA TRANSPARÊNCIA</a>
        <a href="#" class="accessibility-link mx-3"><i class="bi bi-person me-2"></i></i>ACESSO INTRANET</a>
      </div>

      <div class="right-icons d-flex align-items-center">
        <div class="social-icons">
          <a href="#" class="social-button" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-button" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-button" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
        </div>
        </div>

    </div>
  </div>
</section>

<div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
  </div>
</div>