<section class="highlight-section my-5">
  <div class="container">

    <div class="d-none d-lg-block">
      <div class="row g-0">
        <div class="col-lg-2">
          <div class="vertical-links-container">
            <a href="#" class="quick-link-item d-block">
              <img src="/images/logo-praca-das-artes.webp" alt="Praça das Artes" />
            </a>
            <a href="#" class="quick-link-item d-block">
              <img src="/images/logo-eventos-esportivos.webp" alt="Eventos Esportivos" />
            </a>
            <a href="#" class="quick-link-item d-block">
              <img src="/images/logo-parques-e-pracas.webp" alt="Parques e Praças" />
            </a>
            <a href="#" class="quick-link-item d-block">
              <img src="/images/logo-acontece-hoje.webp" alt="Acontece Hoje" />
            </a>
          </div>
        </div>

        <div class="col-lg-10">
          <div class="swiper main-swiper">
            <div class="swiper-wrapper"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-lg-none">
      <div class="mobile-quick-links d-flex justify-content-around overflow-x-auto mb-3">
        <a href="#" class="quick-link-item">
          <img src="/images/logo-praca-das-artes.webp" alt="Praça das Artes" />
        </a>
        <a href="#" class="quick-link-item">
          <img src="/images/logo-eventos-esportivos.webp" alt="Eventos Esportivos" />
        </a>
        <a href="#" class="quick-link-item">
          <img src="/images/logo-parques-e-pracas.webp" alt="Parques e Praças" />
        </a>
        <a href="#" class="quick-link-item">
          <img src="/images/logo-acontece-hoje.webp" alt="Acontece Hoje" />
        </a>
      </div>

      <div class="swiper main-swiper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</section>