<header>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/pages/index.html">
          <img src="./../images/logo-barueri.webp" alt="Logo da Prefeitura de Barueri" class="header-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/pages/index.html">PREFEITURA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/servico.html">SERVIÇOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/noticia.html">NOTÍCIAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SECRETARIAS E ÓRGÃOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DIÁRIO OFICIAL</a>
            </li>
          </ul>
        </div>
  
      </div>
    </nav>
  </header>